<ion-view>

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Visitors: line chart
      </div>
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="100"></canvas>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Visitors: bar chart
      </div>
      <div class="item item-text-wrap">
        <canvas id="bar" class="chart chart-bar" data="graph.data" labels="graph.labels" series='graph.series' height="100"></canvas>
      </div>
    </div>

  </ion-content>
</ion-view>
